body {
    background-image: url("pixelated_background3.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#canvas{
    visibility: hidden;
}

#title {
    margin-top: 10%;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 50px;
}

#instructionsPage{
    text-align: center;
    margin-left: 40%;
    color:white;
    font-size: 15px;
    background-color: gray;
    width: 300px;
    border-color: white;
    border-width: 10px;
}

.button{
    background-color:gray;
    color:white;
    font-weight: bold;
    font-size: 25px;
    border-color:white;
    border-width: 5px;
    padding: 5px 25px;
    margin-left: 46%;
    margin-bottom: 20px;
    margin-top: 20px;
    display: block;
}

.button:hover {
    background-color: white;
    color: gray;
}
